
:root{
    --COR-PRETO : #2f323a;
    --COR-AZUL : #19b3d3;
    --COR-BRANCA : #fff;
}

body { 
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

header {
    background-color: var(--COR-PRETO);
    width: 100%;
    height: 30px;
    padding: 20px;
    position: fixed;
}

.area-esquerda h3 {
    color: #fff;
    margin: 0;
    font-size: 22;
    font-weight: 900;
    text-transform: uppercase;
}

.btn-sair {
    color: var(--COR-BRANCA);
    text-decoration: none;
    float: right;
    margin-right: 40px;
    margin-top: -30px;
    background-color: var(--COR-AZUL);
    font-size: 15px;
    font-weight: 600px;
    border-radius: 5px;
    padding: 5px 5px;
    transition-delay: 0.5;
    transition: 0.3s;
}

.btn-sair:hover {
    background-color: #0D9DBB;
    padding: 10px 10px;
    border-radius: 10px;
}

.perfil{
    text-align: center;
}

.imagem-perfil{
    width: 115px;
    height: 100px;
    border-radius: 50px;
    margin-bottom: 10px;
}

nav{
    background-color: #2f323a;
    width: 250px;
    height: 100%;
    left: 0;
    position: fixed;
    margin-top: 70px;
    padding-top: 30px;
    transition: 0.4s;
}

nav h4{
    color: var(--COR-BRANCA);
    margin-top: 0;
    margin-bottom: 20px;
}

nav a{
    color: var(--COR-BRANCA);
    text-decoration: none;
    display: block;
    padding-left: 40px;
    line-height: 80px;
    box-sizing: border-box;
}
nav i{
    margin-right: 10px;
}

nav a:hover{
    background-color: #0D9DBB;
    transition: 1.0s;
}

#btnMenu{
    cursor: pointer;
    color: var(--COR-BRANCA);
    font-size: 20px;
    position: fixed;
    left: 250px;
    top: 23px;
}

#chkMenu{
    display: none;
}

#chkMenu:checked~nav{
    left: -190px;
}

#chkMenu:checked~nav a{
    font-size: 22px;
    margin-left: 165px;
}

#chkMenu:checked~nav span{
    display: none;
}

.conteudo{
    background-image: url('./fundo.jpg');
    background-position: center;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}